<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/bootstrap.min.css"/>
    <link rel="stylesheet" media="screen" href="static/css/style.css">
        <link rel="stylesheet" media="screen" href="static/css/main.css">
  <title>TITLE TAB HEHE X D</title>
</head>

<body>

<nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand mx-3" href="#">Foreandr</a>
        <div class="collapse navbar-collapse" id="navbarContent">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="./">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./code">Blog</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- count particles
    <div class="count-particles">
      <span class="js-count-particles">--</span> particles
    </div>
    -->
    <div id="title_block">
      {% block main %}

      <div>
        structure.html particular
      </div>

      {% endblock main %}
    </div>

    <!-- footer -->
    <div id="footerDiv">
        <footer id="footer">
            <div id="footerTitle">
                &copy;Forandr
            </div>
            <div>
                <ul id="footerList1">
                    <li>
                        <a href="https://github.com/foreandr">Github</a>
                    </li>
                    <li>
                        <a href="https://www.foreandr.com">foreandr.com</a>
                    </li>
                </ul>
            </div>

            <div>
                <ul id="footerList2">
                    <li>
                        <a href="mailto:foreandr@gmail.com">Email</a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>

    <!-- particles.js container -->
        <div id="particles-js"></div>
    <!-- scripts -->
    <script src="static/js/lib/particles.js"></script>
    <script src="static/js/app.js"></script>
    <script src="static/js/lib/stats.js"></script>

</body>
</html>